.cards {
	width: 800px;
	max-width: calc(100vw - $gap*2);
	margin: $gap auto;

	@media #{$small} {
		max-width: calc(100vw - $gap*4);
		margin: $gap*2 auto;
	}

	text-align: left;

	.card {
		padding: $gap;
		text-align: left;
		border-radius: 12px;
		border-width: 4px;
		border-style: solid;
		break-inside: avoid;
		margin-bottom: $gap;

		&.image {
			padding: 0;
		}

		> :not(article):not(:last-child) {
			margin-bottom: $gap*0.5;
		}
		> article:not(:last-child) {
			margin-bottom: $gap;
		}

		.socials {
			display: flex;
			justify-content: center;
			gap: $gap;

			margin-top: $gap;

			svg {
				width: 2rem;
				height: 2rem;
			}

			a { border: none !important; }
		}
	}
}
