body {
	background-color: $light-grey;
	color: $off-black;
}

a {
	transition: color 0.2s, border-bottom-color 0.2s;
	color: $off-black;
	border-bottom-color: $grey;
	&:hover {
		color: $raspberry;
		border-bottom-color: $raspberry;
	}
}

.card:not(.image) {
	background-color: $off-white;
	border-color: $passiflora;
}
.card .title {
	background-color: $passiflora;
	color: $off-white;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #181216;
		color: $off-white;
	}

	a {
		color: $off-white;
		&:hover {
			color: $lychee;
			border-bottom-color: $lychee;
		}
	}

	.cards .card {
		background-color: #261c23;
		border-color: $passiflora;
	}
}


// Color classes (just the ones that are actually used)
.sakura {
	color: $sakura;
}
