* {
	text-align: inherit;
	box-sizing: inherit;
}

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.hide { display: none; }

// responsive classes
@media #{$small}{
	.sm\:inline { display: inline; }
}

.left {
	float: left;
	margin-right: $gap;
}

.right {
	float: right;
	margin-left: $gap;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
	> * {
		display: inline-block;
		word-wrap: none;
	}
}
.flex-responsive {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	text-align: center;
	@media #{$small} {
		align-items: baseline;
		flex-direction: row;
		> * {
			margin: 0;
		}
	}
}


body {
	text-align: center;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

article {
	&:not(:last-child), :not(:last-child) {
		margin-bottom: $gap*0.5;
	}
	img.small {
		display: none;
		@media #{$small} {
			display: block;
			height: auto;
			float: left;
			width: 180px;
			margin-left: 0;
			margin-right: $gap;
		}
	}
}
