.blog-post {
	padding: $gap $gap*2;

	.post-body {
		margin-top: $gap;

		p, ul, figure, table {
			hyphens: auto;

			&:not(:last-child) {
				margin-bottom: $gap;
			}
		}

		ul, li {
			list-style: disc;
			padding-inline-start: 1em;
		}

		table {
			width: 100%;
			border-collapse: collapse;

			th, td {
				@media (prefers-color-scheme: light) {
					border: 1px solid $light-grey;
				}
				@media (prefers-color-scheme: dark) {
					border: 1px solid $grey;
				}
				padding: $gap;
			}
		}
	}
}

.post-nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	font-family: "Fira Code", monospace;
	text-align: center;

	a {
		border: none;
	}
}
