@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style:  normal;
  font-display: swap;
  src: url("/font/woff2/Inter-Regular.woff2?v=3.19") format("woff2"),
       url("/font/woff/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style:  italic;
  font-display: swap;
  src: url("/font/woff2/Inter-Italic.woff2?v=3.19") format("woff2"),
       url("/font/woff/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style:  normal;
  font-display: swap;
  src: url("/font/woff2/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("/font/woff/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style:  italic;
  font-display: swap;
  src: url("/font/woff2/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
       url("/font/woff/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Fira Code';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/font/woff2/FiraCode-Regular.woff2") format("woff2"),
       url("/font/woff/FiraCode-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Fira Code';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/font/woff2/FiraCode-Bold.woff2") format("woff2"),
       url("/font/woff/FiraCode-Bold.woff") format("woff");
}

.monospace {
	font-family: 'Fira Code', monospace;
}
.small {
	font-size: 0.75em;
	opacity: 0.8;
}
.center {
	text-align: center;
}

html, body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-variant-ligatures: all;
	font-size: 14px;
	line-height: 1.5;
	@media #{$medium} {
		font-size: 16px;
	}
	@media #{$large} {
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Code', monospace;
	font-weight: 700;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.9rem; }

a[href] {
	font-family: 'Fira Code', monospace;
	text-decoration: none;
	&:not(.no-underline){
		border-bottom: 2px dashed;
	}
}

.publish-date {
	font-family: 'Fira Code', monospace;
	opacity: 0.8;
}

.post-body {
	line-height: 1.75;
}

.mdi {
	line-height: 0;
	&, svg {
		width: 24px;
		height: 24px;
	}
}
