<div class="card">
	my personal site is built with <a href="https://github.com/katacarbix/islet">islet</a>!
	<span class="right">
		<a href="https://github.com/reeseovine/reese.ovine.xyz">source code</a> •
		<a href="/feed.rss">RSS</a>
	</span>
</div>
