<div id="footer" class="card">
	<div class="flex-responsive">
		<span>
			built with <a href="https://islet.surf/">islet</a>
		</span>
		<a href="https://git.cyberia.club/reese/website">source code</a>
	</div>

	<div class="flex-center">
		<a title="Previous site" href="https://cyberia.click/prev.cgi?source=reese" class="no-underline">&lt;-</a>
		<a href="https://cyberia.click" class="no-underline icon" title="cyberia webring">
			<svg viewBox="0 0 600 600" role="presentation">
				<path style="fill:#79cfdc;fill-opacity:1;" d="M 300,0 A 300,300 0 0 0 0,300 300,300 0 0 0 70.759766,492 H 529.24024 A 300,300 0 0 0 600,300 300,300 0 0 0 300,0 Z M 85.039058,508 a 300,300 0 0 0 20.806652,20 H 494.1543 a 300,300 0 0 0 20.80664,-20 z m 40.878912,36 a 300,300 0 0 0 31.95899,20 h 284.24609 a 300,300 0 0 0 31.95898,-20 z m 66.57813,36 A 300,300 0 0 0 300,600 300,300 0 0 0 407.50391,580 Z"></path>
				<path style="fill:#a97cb7;fill-opacity:1;" d="M 300,0 A 300,300 0 0 0 0,300 300,300 0 0 0 16.066406,393.50391 c 42.130453,-10.5903 73.537862,-41.95397 79.496092,-81.33984 6.695032,-44.25631 8.968622,-81.05919 36.824222,-104.56055 27.8556,-23.50136 67.52235,-5.27746 81.72852,21.57031 14.20615,26.84778 26.92466,60.31494 61.27734,61.70899 34.35268,1.39405 62.70861,-43.8662 74.15625,-74.36328 11.44764,-30.49708 47.69834,-47.77307 72.26758,-34.63477 24.56923,13.1383 34.67223,40.38966 49.53125,70.99414 14.85901,30.60448 33.60932,61.00834 56.67187,81.03906 19.37272,16.82595 40.73829,33.64697 60.72071,45.19727 A 300,300 0 0 0 600,300 300,300 0 0 0 300,0 Z"></path>
			</svg>
		</a>

		<a title="Next site" href="https://cyberia.click/next.cgi?source=reese" class="no-underline">-&gt;</a>
	</div>
</div>
