<div id="footer" class="card">
	<span>
		my personal site is built with <a href="https://github.com/katacarbix/islet">islet</a>!
	</span>
	<span class="monospace">
		<a href="https://github.com/reeseovine/website">source code</a> &mdash;
		<a href="/feed.rss">RSS</a>
	</span>
</div>
