<div id="footer" class="card">
	<div class="flex-responsive">
		<span>
			built with <a href="https://islet.surf/">islet</a>
		</span>
		<a href="https://git.cyberia.club/reese/website">source code</a>
	</div>

	<div class="flex-center">
		<a title="Previous site" href="https://cyberia.click/prev.cgi?source=reese">&lt;-</a>
		<a href="https://cyberia.click" class="no-underline"><img src="/img/cyberia-24.png" title="cyberia webring"></a>

		<a title="Next site" href="https://cyberia.click/next.cgi?source=reese">-&gt;</a>
	</div>
</div>
