<section class="card">
	<h1 class="title">hey, i'm reese!</h1>
	<p class="center">I write code and design things for fun (and sometimes for work).</p>
	<ul class="socials" aria-label="My links">
		<li><a title="code repositories" href="https://git.cyberia.club/reese">
			<svg viewBox="0 0 24 24" role="presentation" class="mdi"><path d="M2.6,10.59L8.38,4.8L10.07,6.5C9.83,7.35 10.22,8.28 11,8.73V14.27C10.4,14.61 10,15.26 10,16A2,2 0 0,0 12,18A2,2 0 0,0 14,16C14,15.26 13.6,14.61 13,14.27V9.41L15.07,11.5C15,11.65 15,11.82 15,12A2,2 0 0,0 17,14A2,2 0 0,0 19,12A2,2 0 0,0 17,10C16.82,10 16.65,10 16.5,10.07L13.93,7.5C14.19,6.57 13.71,5.55 12.78,5.16C12.35,5 11.9,4.96 11.5,5.07L9.8,3.38L10.59,2.6C11.37,1.81 12.63,1.81 13.41,2.6L21.4,10.59C22.19,11.37 22.19,12.63 21.4,13.41L13.41,21.4C12.63,22.19 11.37,22.19 10.59,21.4L2.6,13.41C1.81,12.63 1.81,11.37 2.6,10.59Z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a title="activitypub" href="https://mspsocial.net/@reese" rel="me noreferrer">
			<svg viewBox="0 0 24 24" role="presentation" class="mdi"><path d="M19 5V19H5V5H19M21 3H3V21H21V3M17 17H7V16H17V17M17 15H7V14H17V15M17 12H7V7H17V12Z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a title="matrix" href="https://matrix.to/#/@reese:cyberia.club">
			<svg viewBox="0 0 24 24" role="presentation" class="mdi"><path d="m23.369 3.9843v16.029h-1.6465v0.54934h2.2777v-17.125h-2.2769v0.54934zm-22.738 0v16.029h1.6465v0.54934h-2.2777v-17.125h2.2769v0.54934zm7.0567 3.8544v1.158h0.033a3.3458 3.3458 0 0 1 1.1152-1.026c0.435-0.24225 0.93375-0.36375 1.4948-0.36375 0.54 0 1.0328 0.105 1.479 0.315 0.44625 0.20925 0.78525 0.57825 1.0162 1.1078 0.2535-0.375 0.597-0.70575 1.0328-0.99225 0.435-0.28725 0.9495-0.4305 1.545-0.4305 0.4515 0 0.87 0.0555 1.2555 0.165 0.3855 0.111 0.7155 0.28725 0.9915 0.53025 0.2745 0.24225 0.48975 0.5595 0.64425 0.951 0.15375 0.3915 0.231 0.8625 0.231 1.4152v5.7248h-2.3452v-4.848c0-0.28725-0.01125-0.55725-0.033-0.8115a1.7288 1.7288 0 0 0-0.1815-0.6615 1.1048 1.1048 0 0 0-0.438-0.447c-0.19275-0.1095-0.4545-0.165-0.78525-0.165-0.33 0-0.597 0.06375-0.801 0.18975-0.204 0.1275-0.36375 0.2925-0.47925 0.4965a1.9905 1.9905 0 0 0-0.231 0.69525 5.3055 5.3055 0 0 0-0.0585 0.786v4.7655h-2.346v-4.7985c0-0.2535-0.0053-0.50475-0.01575-0.753a2.1188 2.1188 0 0 0-0.141-0.687 1.0582 1.0582 0 0 0-0.4125-0.50475c-0.1935-0.126-0.477-0.18975-0.85125-0.18975a1.7475 1.7475 0 0 0-0.438 0.075 1.455 1.455 0 0 0-0.52875 0.2805c-0.171 0.138-0.3165 0.33675-0.438 0.5955-0.12075 0.2595-0.1815 0.5985-0.1815 1.0178v4.9642h-2.3468v-8.5575z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a title="email" class="email" data-obfuscated="reese(at)ovine(dot)xyz">
			<svg viewBox="0 0 24 24" role="presentation" class="mdi"><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" style="fill: currentcolor;"></path></svg>
		</a></li>
	</ul>
</section>

<section class="card">
	<h2 class="title">blog</h2>
	<%- include('recent_posts'); %>
</section>

<section class="card">
	<h2 class="title">projects</h2>
	<article class="clearfix">
		<a href="https://webtoys.ovine.xyz" target="_blank">
			<img class="small" src="img/webtoys.png" alt="screenshot of webtoys">
		</a>
		<h2>
			<a href="https://webtoys.ovine.xyz" target="_blank">webtoys</a>
			<a href="https://github.com/reeseovine/webtoys" target="_blank" class="small no-underline" title="source code">&lt;/&gt;</a>
		</h2>
		<p class="summary">A handy collection of tools every developer needs at one point or another. It's built with Next.js and runs entirely in the browser with nothing being sent back to the server.</p>
	</article>

	<article class="clearfix">
		<a href="https://islet.surf" target="_blank">
			<img class="small " src="img/islet.png" alt="screenshot of islet.surf">
		</a>
		<h2>
			<a href="https://islet.surf" target="_blank">islet</a>
			<a href="https://github.com/reeseovine/islet" target="_blank" class="small no-underline" title="source code">&lt;/&gt;</a>
		</h2>
		<p class="summary">Islet is a tiny blogging framework written in Javascript. It's designed to be easy for beginners to get started with while also having endless possibilities to personalize your corner of the internet.</p>
	</article>

	<article class="clearfix">
		<a href="https://monkeymafia.space" target="_blank">
			<img class="small" src="img/smm.png" alt="screenshot of monkeymafia.space">
		</a>
		<h2><a href="https://monkeymafia.space" target="_blank">monkeymafia.space</a></h2>
		<p class="summary">I built a static website from the ground up for local ska band Space Monkey Mafia, which is optimized for speed by using a single page and lazy-loading assets.</p>
	</article>
</section>
