<section class="card">
	<h1 class="center">hey, i'm reese!</h1>
	<p class="center">I write code and design things for fun (and sometimes for work).</p>
	<ul class="socials" aria-label="Contact me">
		<li><a href="https://github.com/reeseovine">
			<svg viewBox="0 0 24 24" role="presentation" aria-label="github" class="mdi"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a href="https://mspsocial.net/@reese" rel="me noreferrer">
			<svg viewBox="0 0 24 24" role="presentation" aria-label="mastodon" class="mdi"><path d="m11.97 2.0003c-2.5569 0.020904-5.0164 0.2976-6.4497 0.95585 0 0-2.8424 1.2716-2.8424 5.6103 0 0.99346-0.019625 2.1812 0.011836 3.441 0.10323 4.2429 0.77804 8.4248 4.7008 9.463 1.8087 0.47876 3.3622 0.57849 4.613 0.50974 2.2681-0.12575 3.5409-0.80937 3.5409-0.80937l-0.07472-1.6454s-1.6207 0.51137-3.441 0.44906c-1.8034-0.06185-3.7071-0.19469-3.9989-2.4089-0.02694-0.1945-0.040689-0.40232-0.040689-0.62073 0 0 1.7707 0.43285 4.0145 0.53565 1.3719 0.06293 2.658-0.08084 3.9648-0.23675 2.5059-0.29923 4.688-1.843 4.9622-3.2538 0.43209-2.2224 0.39656-5.4236 0.39656-5.4236 0-4.3387-2.8424-5.6103-2.8424-5.6103-1.4332-0.65827-3.8944-0.93494-6.4512-0.95585h-0.06289zm-2.8935 3.3899c1.065 0 1.8712 0.40933 2.4045 1.2281l0.51861 0.86929 0.51861-0.86929c0.53315-0.8188 1.3393-1.2281 2.4045-1.2281 0.92043 0 1.662 0.32391 2.2284 0.95513 0.54899 0.63122 0.8227 1.484 0.8227 2.5576v5.2535h-2.0811v-5.099c0-1.0748-0.45228-1.6202-1.3568-1.6202-1.0002 0-1.5018 0.64687-1.5018 1.9265v2.7907h-2.0686v-2.7907c0-1.2797-0.50171-1.9265-1.5018-1.9265-0.9046 0-1.3568 0.54539-1.3568 1.6202v5.099h-2.0811v-5.2535c0-1.0737 0.27359-1.9264 0.8227-2.5576 0.56622-0.63122 1.3079-0.95513 2.2284-0.95513z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a href="#">
			<svg viewBox="0 0 24 24" role="presentation" aria-label="matrix" class="mdi"><path d="m0.63114 0.54634v22.904h1.6465v0.54934h-2.2777v-24h2.2769v0.54934zm7.0567 7.2923v1.158h0.033a3.3458 3.3458 0 0 1 1.1152-1.026c0.435-0.24225 0.93375-0.36375 1.4948-0.36375 0.54 0 1.0328 0.105 1.479 0.315 0.44625 0.20925 0.78525 0.57825 1.0162 1.1078 0.2535-0.375 0.597-0.70575 1.0328-0.99225 0.435-0.28725 0.9495-0.4305 1.545-0.4305 0.4515 0 0.87 0.0555 1.2555 0.165 0.3855 0.111 0.7155 0.28725 0.9915 0.53025 0.2745 0.24225 0.48975 0.5595 0.64425 0.951 0.15375 0.3915 0.231 0.8625 0.231 1.4152v5.7248h-2.3452v-4.848c0-0.28725-0.01125-0.55725-0.033-0.8115a1.7288 1.7288 0 0 0-0.1815-0.6615 1.1048 1.1048 0 0 0-0.438-0.447c-0.19275-0.1095-0.4545-0.165-0.78525-0.165-0.33 0-0.597 0.06375-0.801 0.18975-0.204 0.1275-0.36375 0.2925-0.47925 0.4965a1.9905 1.9905 0 0 0-0.231 0.69525 5.3055 5.3055 0 0 0-0.0585 0.786v4.7655h-2.346v-4.7985c0-0.2535-0.0053-0.50475-0.01575-0.753a2.1188 2.1188 0 0 0-0.141-0.687 1.0582 1.0582 0 0 0-0.4125-0.50475c-0.1935-0.126-0.477-0.18975-0.85125-0.18975a1.7475 1.7475 0 0 0-0.438 0.075 1.455 1.455 0 0 0-0.52875 0.2805c-0.171 0.138-0.3165 0.33675-0.438 0.5955-0.12075 0.2595-0.1815 0.5985-0.1815 1.0178v4.9642h-2.3468v-8.5575zm15.681 15.615v-22.904h-1.6465v-0.54934h2.2777v24h-2.2777v-0.54934z" style="fill: currentcolor;"></path></svg>
		</a></li>
		<li><a class="email" data-obfuscated="reese(at)ovine(dot)xyz">
			<svg viewBox="0 0 24 24" role="presentation" aria-label="email" class="mdi"><path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" style="fill: currentcolor;"></path></svg>
		</a></li>
	</ul>
</section>

<section class="card" aria-label="Code projects">
	<article class="clearfix">
		<a href="https://webtoys.ovine.xyz" target="_blank">
			<img class="small left" src="img/webtoys.png" alt="screenshot of webtoys">
		</a>
		<h2><a href="https://github.com/reeseovine/webtoys" target="_blank">webtoys</a></h2>
		<p class="summary">A handy and easy-to-use collection of tools every developer needs at one point or another. It's a web-based clone of <a href="https://github.com/veler/DevToys" target="_blank">DevToys</a> built with Next.js.</p>
	</article>

	<article class="clearfix">
		<a href="https://islet.surf" target="_blank">
			<img class="small left" src="img/islet.png" alt="screenshot of islet.surf">
		</a>
		<h2><a href="https://github.com/reeseovine/islet" target="_blank">islet 🌴</a></h2>
		<p class="summary">Islet is a tiny blogging framework written in Javascript. It's easy for beginners to get started with while also being endlessly extensible for the more advanced users.</p>
	</article>

	<article class="clearfix">
		<a href="https://monkeymafia.space" target="_blank">
			<img class="small left" src="img/smm.png" alt="screenshot of monkeymafia.space">
		</a>
		<h2>Space Monkey Mafia</h2>
		<p class="summary">I built a static website from the ground up for this local ska band so I could have complete control over the code and design. It's optimized for speed by using a single page and lazy-loading assets.</p>
	</article>
</section>

<section class="card" aria-label="Blog articles">
	<%- include('recent_posts'); %>

	<a href="/archive">More...</a>
</section>
