<title>Page Not Found</title>

<section class="card">
	<h1 class="center">404: Not Found</h1>
	<p class="center">The requested page was not found on this site!</p>
	<p class="center"><a href="/">Go back home</a></p>
</section>
